@import "reset.css";

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.navigation {
    width: 1060px;
    margin: 0 auto;
    padding: 32px 0;
}

.navigation ul {
    text-align: center;
}

.navigation-item {
    display: inline-block;
    margin: 0 35px;
}

.navigation-link {
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
    font-size: 18pt;
    color: #16a085;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.image img {
    width: 100%;
    height: 790px;
}

.heading {
    font-family: AdobeInvisFont, Roboto-Black, Coursier, sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
}

main {
    background-color: #f5f6f7;
}

.content {
    width: 1060px;
    margin: 0 auto;
    padding: 30px 0 95px;
}

.content p {
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.4;
}

.button {
    display: block;
    padding: 23px 45px 18px;
    background-color: #16a085;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
}

.footer-text {
    font-family: AdobeInvisFont, Roboto-Black, Courier, sans-serif;
    font-size: 16px;
    color: rgba(55, 55, 55, 255);
    width: 1060px;
    margin: 0 auto;
    text-align: right;
    padding: 45px 0;
}
